
header {
    
    height: 171px;
    margin: 0 0 214px;
    padding: 32px 1107px 61px 40px;
    background-color: #31167E;
  }
  


  .bodycolor  {
    background-color: #EFFCCA;
  }

.logo {

    width: 293px;
    height: 78px;
    object-fit: contain;
  
}


#check {
  position: absolute;
width: 726px;
height: 279px;
left: 80px;
top: 385px;
}
  
  #textInput {
    width: 700px;
    height: 300px;
    margin-left: 900px;
    background-color: antiquewhite;
    border: 3.5px solid #5123D5;
  border-radius: 15px;
  }
  
  button {
    margin-bottom: 10px;
  }


  

#checkButton

{   margin-left: 1140px;
  margin-top: 300;
  height: 50px;
  width: 200px;
}

  .error {
    font-family: 'Kanit';

font-size: 25px;
    color: red;
    margin-bottom: 10px;
  }


  #errorList {

    position: absolute;
    width: 377px;
    height: 72px;
    left: 943px;
    top: 800px;
    
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 25px;
    
    
    display: flex;
    align-items: center;
    
    color: #5123D5;

  }